@use '../base/mixins' as m;
@use '../base/variables' as v;

.header{
    padding-top: 5rem;
    .header__titulo{
        color: v.$verde;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
}
.contenedor__nav{
    max-width: 40%;
    margin: 0 auto;
}
.header__navegacion{
    display: block;
    text-align: center;
    @include m.tablet{
        display: flex;
        justify-content: space-between;
    }
    a{
        color: v.$gris;
        font-size: 2.2rem;
    }
}
.enlaces{
    margin-bottom: 1.5rem;
    @include m.tablet{
        margin-bottom: 0;
    }
}
.grid__sobreMi{
    @include m.tablet{
        @include m.grid(2, 2rem);
    }
}
.grid__misProyectos{
    @include m.tablet{
        @include m.grid(3, 2rem);
    }
}
.grid__miExperiencia{
    @include m.tablet{
        @include m.grid(3, 2rem);
    }
}