@use '../base/mixins' as m;
@use '../base/variables' as v;

.section__miExperiencia{
    margin-top: 10rem;
}
.miExperiencia__titulo{
    text-align: end;
    margin-bottom: 2rem;
    color: v.$gris;
    span{
        color: v.$verde;
    }
}
.miExperiencia__img{
    width: 15rem;
    margin-bottom: .5rem;
    display: inline;
}
.miExperiencia__datos{
    margin-bottom: 3rem;
}
.grid__miExperiencia{
    section{
        text-align: end;
    }
}