@use '../base/mixins' as m;
@use '../base/variables' as v;

.section__misProyectos{
    padding-top: 10rem;
}
.misProyectos__titulo{
    margin-bottom: 1.5rem;
    color: v.$gris;
    span{
        color: v.$verde;
    }
}
.proyectos{
    margin-bottom: 2rem;
    text-align: end;
    background-color: v.$color__fondo--oscuro;
    padding: 2.5rem;
    border-radius: 5%;
}
.grid__misProyectos{
    text-align: end;
    @include m.tablet{
        margin-bottom: 0;
    }
}
