@use '../base/mixins' as m;
@use '../base/variables' as v;

.sobreMi__titulo{
    text-align: start;
    margin-bottom: 1.5rem;
    color: v.$gris;
    span{
        color: v.$verde;
        font-size: 2.8rem;
    }
}
.contenido__sobreMi{
    text-align: start;
}
.img__sobreMi{
    width: 20rem;
    margin: 0 auto;
    img{
        border-radius: 50%;
        margin-bottom: 2rem;
        border-bottom: 2px inset v.$verde ;
        border-right: 2px inset v.$verde ;
        padding: 1rem;
        @include m.tablet{
            margin-bottom: 0;
        }
    }
}
.sobreMi__contenido span{
    color: v.$verde;
}
